header {
    background-color: #8a6d3b;
    color: white;
    text-align: center;
}

.mainSection {
    /*background-color: #cccccc;*/
    height: 630px;
}

#idMain {
    background-image: url('../images/hangmanpic.jpg');
}

.mainrow {
    padding: 10px;
}

.gameprogress {
    padding-top: 20px;
    padding-left: 75px;
}

#numberOfWords {
    padding-left: 20px;
}

#display {
    font-size: 32px;
}

#display, #totalTitle, #incorrectLetters, #gameTotals, #gamesWon, #gamesLost, #numberOfWords {
    color: white;
}

#totalTitle {
    margin-top: 25px;
}

#btnStartOver {
    margin: 10px;
}

.rightsection {
    background-color: #999999;
}

.musicbuttons {
    margin: 20px;
}
.letb {
    width: 35px;
    height: 35px;
    margin: 1px;
}

.footer {
    background: #999999;
    text-align: center;
    padding: 10px;
    /*margin-top: 5px;*/
    /*border-top: thick solid #6ea3da;*/
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: x-small;

    /*width: 100%;*/
}

.footer:after {
    content: "\00a9 Copyright 2017 Curtis Lytle";
}